$gray: #6b6b6b;
$bgcolor: #1f3a5b;
$fgcolor: #d5df37;

@mixin for-small {
  @media (max-width: 640px) {@content;}
}

@mixin for-medium {
  @media (max-width: 768px) {@content;}
}

@mixin for-large {
  @media (min-width: 1024px) {@content;}
}

@mixin for-xl {
  @media (min-width: 1280px) {@content;}
}


.work-listing {
	list-style-type: none;
	column-gap: 15px;
	column-width: calc((650px / 4) - 30px);
	margin: 0;
	
	li {
		display: inline-block;
		margin: 1em 0;							 

		a {
			border: 1px solid lighten($gray, 40);
			padding: 0.5em;
			border-radius: 0.25em;
			display: flex;
			flex-direction: column;
			background-color: lighten($gray, 55);
			
			&:hover, &:focus {
				border-color: lighten($gray, 20);
				background-color: white;
			}			
		}
		
		img {
			object-fit: cover;
		}
	}
}

.site-header {
	background: $bgcolor;
	border-top-color: lighten($fgcolor, 20);

	.page-link {
		color: $fgcolor;
		
		&:hover, &:focus {
			color: lighten($fgcolor, 20);
		}
		
		&:active {
			color: lighten($fgcolor, 5);		
		}
	}

}

.site-title {
	color: $fgcolor;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;

	@include for-small {
		font-size: 6vw;
	}
	
	.castle {
		font-size: 0.6em;
	}

	.castle::before {
		opacity: 0.5;
		top: -0.1em;
	}
	
	span {
		text-transform: lowercase;
	}

	&, &:visited {
		color: $fgcolor;
	}
	
	&:hover, &:focus {
		color: lighten($fgcolor, 20);
	}
}

.post-title  {
	font-size: 1.8em;
	color: $gray;
}

body {
	background: lighten($gray, 50);
}

.page-content {
	width: 800px;
	margin: 0 auto;
	
	p {
		font-size: 1.2em;
		line-height: 1.6;
		color: $gray;
	}

	@media screen and (max-width: 800px) {
		width: calc(100% - 2em);
	}
	
	.post-content  {
		img {
			max-height: 60vh;
			display: block;
			margin: 0 auto;

			@media screen and (max-width: 800px) {
				max-height: auto;

			}			
		}

		p {
			margin-top: 1em;

		}

		ul {
			margin-left: 1em;
			list-style: inside disc;
		}

	}



	p a {
		text-decoration: underline;
	}

	h2 a {
		text-decoration: none;
	}
	

}

.page-content, .post-content {
	p, li, dl, h2, h3{
		color: $gray;
	}
}

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.PageNavigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}

footer {
	background: white;

	.footer-heading {
		color: $gray;
	}
}

.page-content .post .pic {
	max-width: 300px;
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
	display: block;
}

.text-center {
	max-width: 500px;
	margin: 0 auto;
}

.page-content .post-content .actor {
	margin-top: 1.5em;
	margin-bottom: -0.75em;
	font-weight: bold;
}

.page-content .post-content .screenplay {
	max-width: 600px;
	margin: 2em auto 0;
	line-height: 1.6;
	padding-top: 2em; 
	border-top: 1px solid rgba(black, 0.2);

	p {
		margin: 0 auto;
	}

	.speaker {
		margin: 3em 0 0.5em;

		+ p {
			margin: 0 3em 3em;

			@include for-small {
				margin: 1.5em 0 0.5em;
			}
		}
	}

	.scene {
		font-weight: bold;
		margin-bottom: 1em;
	}




	.stage-direction {
		display: block;
		font-style: italic;
	}

	.speaker {
		display: block;
		text-align: center;
		font-weight: bold;
	}


	dl {
		max-width: 550px;
		margin: 0 auto;
		line-height: 1.6;

		dt {
			text-align: center;
			font-weight: bold;
		}

		dd {
			text-align: left;

			+ dt {
				margin-top: 3em;
			}
		}
	}
}

.site-nav {
	background-color: $bgcolor;

	@media screen and (max-width: 600px) {
		background-color: lighten($bgcolor, 10);	
	}

	.menu-icon > svg {
		fill: #fff;
	}
}

%link-icon {
    display: inline-block;
    content: '';
    width: 1em;
    height: 1em;
    margin: 0 0.25em;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 10%;
    background-color: currentColor;
}

.castle {
    position: relative;
    display: inline;
    padding-left: 1.35em;
}

.castle::before {
		@extend %link-icon;
    -webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2091%2091%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M70.64%2091c5.562%200%2010.308-1.964%2014.236-5.893%203.93-3.93%205.894-8.675%205.894-14.238%200-5.562-1.965-10.318-5.894-14.266-3.928-3.948-8.674-5.923-14.237-5.923H60.545V40.586h10.094c5.563%200%2010.309-1.964%2014.237-5.893%203.93-3.93%205.894-8.675%205.894-14.238%200-5.562-1.965-10.308-5.894-14.237C80.948%202.289%2076.202.325%2070.64.325c-5.563%200-10.308%201.964-14.237%205.893-3.929%203.929-5.893%208.675-5.893%2014.237V30.55H40.414V20.455c0-5.562-1.974-10.308-5.922-14.237C30.543%202.289%2025.788.325%2020.225.325c-5.563%200-10.308%201.964-14.237%205.893C2.058%2010.147.094%2014.893.094%2020.455c0%205.563%201.965%2010.309%205.894%2014.238%203.929%203.929%208.674%205.893%2014.237%205.893H30.32V50.68H20.225c-5.563%200-10.308%201.975-14.237%205.923C2.058%2060.55.094%2065.307.094%2070.869c0%205.563%201.965%2010.309%205.894%2014.238C9.917%2089.036%2014.662%2091%2020.225%2091c5.563%200%2010.318-1.964%2014.267-5.893%203.948-3.93%205.922-8.675%205.922-14.238V60.775H50.51v10.094c0%205.563%201.964%2010.309%205.893%2014.238C60.33%2089.036%2065.076%2091%2070.639%2091zM30.32%2030.55H20.225c-2.762%200-5.125-.982-7.09-2.947-1.964-1.964-2.946-4.347-2.946-7.148%200-2.762.982-5.134%202.947-7.118%201.964-1.984%204.327-2.976%207.09-2.976%202.8%200%205.182.992%207.147%202.976%201.964%201.984%202.947%204.356%202.947%207.118V30.55zm40.32%200H60.544V20.455c0-2.762.982-5.134%202.946-7.118%201.965-1.984%204.347-2.976%207.148-2.976%202.762%200%205.135.992%207.119%202.976s2.976%204.356%202.976%207.118c0%202.762-.983%205.135-2.947%207.119s-4.347%202.976-7.148%202.976zM50.508%2050.68H40.414V40.586H50.51V50.68zm20.13%2030.226c-2.762%200-5.135-.983-7.118-2.947-1.984-1.965-2.976-4.328-2.976-7.09V60.775h10.094c2.762%200%205.135.982%207.119%202.947%201.984%201.964%202.976%204.327%202.976%207.089%200%202.8-.983%205.183-2.947%207.148-1.964%201.964-4.347%202.947-7.148%202.947zm-50.414%200c-2.762%200-5.125-.983-7.09-2.947-1.964-1.965-2.946-4.328-2.946-7.09%200-2.8.982-5.183%202.947-7.147%201.964-1.965%204.327-2.947%207.09-2.947H30.32v10.094c0%202.762-.983%205.125-2.947%207.09-1.965%201.964-4.347%202.947-7.148%202.947z%22%2F%3E%3C%2Fsvg%3E");		
    mask-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2091%2091%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M70.64%2091c5.562%200%2010.308-1.964%2014.236-5.893%203.93-3.93%205.894-8.675%205.894-14.238%200-5.562-1.965-10.318-5.894-14.266-3.928-3.948-8.674-5.923-14.237-5.923H60.545V40.586h10.094c5.563%200%2010.309-1.964%2014.237-5.893%203.93-3.93%205.894-8.675%205.894-14.238%200-5.562-1.965-10.308-5.894-14.237C80.948%202.289%2076.202.325%2070.64.325c-5.563%200-10.308%201.964-14.237%205.893-3.929%203.929-5.893%208.675-5.893%2014.237V30.55H40.414V20.455c0-5.562-1.974-10.308-5.922-14.237C30.543%202.289%2025.788.325%2020.225.325c-5.563%200-10.308%201.964-14.237%205.893C2.058%2010.147.094%2014.893.094%2020.455c0%205.563%201.965%2010.309%205.894%2014.238%203.929%203.929%208.674%205.893%2014.237%205.893H30.32V50.68H20.225c-5.563%200-10.308%201.975-14.237%205.923C2.058%2060.55.094%2065.307.094%2070.869c0%205.563%201.965%2010.309%205.894%2014.238C9.917%2089.036%2014.662%2091%2020.225%2091c5.563%200%2010.318-1.964%2014.267-5.893%203.948-3.93%205.922-8.675%205.922-14.238V60.775H50.51v10.094c0%205.563%201.964%2010.309%205.893%2014.238C60.33%2089.036%2065.076%2091%2070.639%2091zM30.32%2030.55H20.225c-2.762%200-5.125-.982-7.09-2.947-1.964-1.964-2.946-4.347-2.946-7.148%200-2.762.982-5.134%202.947-7.118%201.964-1.984%204.327-2.976%207.09-2.976%202.8%200%205.182.992%207.147%202.976%201.964%201.984%202.947%204.356%202.947%207.118V30.55zm40.32%200H60.544V20.455c0-2.762.982-5.134%202.946-7.118%201.965-1.984%204.347-2.976%207.148-2.976%202.762%200%205.135.992%207.119%202.976s2.976%204.356%202.976%207.118c0%202.762-.983%205.135-2.947%207.119s-4.347%202.976-7.148%202.976zM50.508%2050.68H40.414V40.586H50.51V50.68zm20.13%2030.226c-2.762%200-5.135-.983-7.118-2.947-1.984-1.965-2.976-4.328-2.976-7.09V60.775h10.094c2.762%200%205.135.982%207.119%202.947%201.984%201.964%202.976%204.327%202.976%207.089%200%202.8-.983%205.183-2.947%207.148-1.964%201.964-4.347%202.947-7.148%202.947zm-50.414%200c-2.762%200-5.125-.983-7.09-2.947-1.964-1.965-2.946-4.328-2.946-7.09%200-2.8.982-5.183%202.947-7.147%201.964-1.965%204.327-2.947%207.09-2.947H30.32v10.094c0%202.762-.983%205.125-2.947%207.09-1.965%201.964-4.347%202.947-7.148%202.947z%22%2F%3E%3C%2Fsvg%3E");
}
