$gray: #6e6e6e;
$bgcolor: #1f3a5b;
$fgcolor: #d5df37;


.work-listing {
	list-style-type: none;
	column-gap: 15px;
	column-width: calc((650px / 4) - 30px);
	margin: 0;
	
	li {
		display: inline-block;
		margin: 1em 0;							 

		a {
			border: 1px solid lighten($gray, 40);
			padding: 0.5em;
			border-radius: 0.25em;
			display: flex;
			flex-direction: column;
			background-color: lighten($gray, 55);
			
			&:hover, &:focus {
				border-color: lighten($gray, 20);
				background-color: white;
			}			
		}
		
		img {
			object-fit: cover;
		}
	}
}

.site-header {
	background: $bgcolor;
	border-top-color: lighten($fgcolor, 20);

	.page-link {
		color: $fgcolor;
		
		&:hover, &:focus {
			color: lighten($fgcolor, 20);
		}
		
		&:active {
			color: lighten($fgcolor, 5);		
		}
	}

}

.site-title {
	color: $fgcolor;

	&, &:visited {
		color: $fgcolor;
	}
	
	&:hover, &:focus {
		color: lighten($fgcolor, 20);
	}
}

.post-title  {
	font-size: 1.8em;
	color: $gray;
}

body {
	background: lighten($gray, 50);
}

.page-content {
	width: 800px;
	margin: 0 auto;
	
	@media screen and (max-width: 800px) {
		width: calc(100% - 2em);
	}
	
	.post-content  {
		img {
			max-height: 60vh;
			display: block;
			margin: 0 auto;

			@media screen and (max-width: 800px) {
				max-height: auto;

			}			
		}

		p {
			margin-top: 1em;

		}

		ul {
			margin-left: 1em;
			list-style: inside disc;
		}
		
		p, li, dl {
			color: $gray
		}
	}
	

}

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.PageNavigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}

footer {
	background: white;
}

.page-content .post .pic {
	max-width: 300px;
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
	display: block;
}

.text-center {
	max-width: 500px;
	margin: 0 auto;
}

.page-content .post-content .actor {
	margin-top: 1.5em;
	margin-bottom: -0.75em;
	font-weight: bold;
}

.page-content .post-content .screenplay {
	p {
		margin: 3em 0;
	}

	dl {
		max-width: 550px;
		margin: 0 auto;
		line-height: 1.6;

		dt {
			text-align: center;
			font-weight: bold;
		}

		dd {
			text-align: left;

			+ dt {
				margin-top: 3em;
			}
		}
	}
}

.site-nav {
	background-color: $bgcolor;

	@media screen and (max-width: 600px) {
		background-color: lighten($bgcolor, 10);	
	}

	.menu-icon > svg {
		fill: #fff;
	}
}