@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost-italic.woff2') format('woff2');
    font-style: italic;
}


@font-face {
    font-family: 'Lora';
    src: url('../fonts/lora.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/lora-italic.woff2') format('woff2');
    font-style: italic;
}

.site-title {
    // font-family: 'Noticia Text', Georgia,Times,'Times New Roman',serif;
    font-family: 'Jost', 'Futura', 'Nunito Sans', 'Century Gothic', sans-serif;
    font-size: 2em;
}

body {
    font-family: 'Lora','Iowan Old Style', 'Goudy Old Style', 'Book Antiqua', 'Cambria', 'Georgia', serif;	
}

h1, h2, h3, h4 {
    font-family: 'Jost', 'Futura', 'Nunito Sans', 'Century Gothic', sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

