.site-title {
    font-family: 'Noticia Text', Georgia,Times,'Times New Roman',serif;
    font-size: 2em;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Work Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";	
}

h1, h2, h3 {
    font-weight: bold;
}