.site-title {
    // font-family: 'Noticia Text', Georgia,Times,'Times New Roman',serif;
    font-family: 'Futura', 'Nunito Sans', 'Century Gothic', sans-serif;
    font-size: 2em;
}

body {
    font-family: 'Iowan Old Style', 'Goudy Old Style', 'Book Antiqua', 'Cambria', 'Georgia', serif;	
}

h1, h2, h3 {
    font-weight: bold;
    font-family: 'Futura', 'Nunito Sans', 'Century Gothic', sans-serif;
}